/* Variables */

:root {
	--basic-red: #EE3643;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-greylight: #C5C5C5;
	--basic-background: #F1F5F7;
	--basic-white: #FFFFFF;
	--basic-black: #000000;

	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-yellowlight2: #FFC047;

	--success: #5FBB2D;
	--warning: #FFBF47;
	--error: #BA2732;
	--greylight-gradient: #EAEAEA;

	--background-greydark: #293449;
	--grey: #32425C;
	--greylight: #F9F5F0;
	--background-grey: #F3F7F9;
	--grey-discount: #A9A9A9;
	--background-greylight: #F1F5F7;
	--background-greylight2: #F2F6F8;
	--background-filters: #F7F3EC;
	--active-header: #161D29;
	--social: #212A3A;
}

/* Global */

html {
	height: 100%;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}
  
img {
	max-width: 100%;
	height: auto;
	/*outline: 1px solid blue;*/
}

*, *::before, *::after {
	box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* container*/

.container {
	width: 940px;
	margin: 0 auto;
}

/* header */

.header-page {
	background-color: var(--background-grey);
	padding-bottom: 60px;
}

.header-top {
	background-color: var(--background-greydark);
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
}

.header-top-flex {
	display: flex;
	height: 42px;
}

.header-top form {
	flex-grow: 1;
}

.header-top .link {
	color: var(--basic-white);
	min-width: 150px;
	text-align: center;
	padding-top: 10px;
	padding-left: 19px;
	position: relative;
}

.bookmark::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 20px;
	width: 14px;
	height: 16px;
	background-image: url("../img/header/icon-bookmark.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before,
.cart:hover::before,
.cart:focus::before {
	opacity: 1;
}

.bookmark:active,
.cart:active {
	background-color: var(--active-header);
	color: rgba(255, 255, 255, 0.5);
}

.bookmark:active::before,
.cart:active::before {
	opacity: 0.3;
}


.cart::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 26px;
	width: 15px;
	height: 15px;
	background-image: url("../img/header/icon-cart.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.header-top .cart {
	padding-left: 23px;
}

.header-top .order {
	background-color: var(--basic-green);
	padding-left: 2px;
}

.header-top .order:hover,
.header-top .order:focus {
	background-color: var(--success);
}

.header-top .order:active {
	color: rgba(255, 255, 255, 0.5);
}

.header-top .header-logo {
	background-color: var(--basic-red);
	width: 220px;
	height: 47px;
	padding-left: 55px;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	padding-top: 12px;
}

.header-top .header-logo:active {
	background-color: var(--error);
}

.header-top input[name="search"] {
	background-color: var(--background-greydark);
	border: none;
	color: var(--basic-white);
	width: 100%;
	height: 42px;
	padding-left: 42px;
}

.header-top input:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
	outline: none;
}

.header-top form {
	position: relative;
}

.header-top form::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 17px;
	height: 17px;
	background-image: url("../img/header/icon-search.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
	z-index: 2;
}

.header-top form:hover::after {
	opacity: 1;
}



.magnifier {
	position: absolute;
	top: 12px;
	left: 17px;
	width: 17px;
	height: 17px;
	background-image: url("../img/header/icon-search-red.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: 3;
	display: none;
}

.search:active ~ .magnifier,
.search:focus ~ .magnifier {
	display: block;
}

.header-middle {
	display: flex;
	min-height: 158px;
	font-size: 0;
}

.header-middle p {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	width: 260px;
	padding: 0;
	margin: 0;
	padding-left: 30px;
	padding-top: 45px;
}

.header-contacts {
	text-align: center;
	padding-left: 60px;
	padding-top: 46px;
}

.header-contacts .phone {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	min-width: 270px;
	min-height: 45px;
	border: 3px solid var(--basic-white);
	margin-bottom: 3px;
	display: inline-block;
	padding-left: 29px;
	padding-top: 4px;
	position: relative;
}

.header-contacts .phone::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 36px;
	width: 18px;
	height: 19px;
	background-image: url("../img/header/icon-phone.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.header-contacts address {
	font-size: 14px;
	line-height: 24px;
	color: var(--grey);
	font-style: normal;
}

.authorization {
	margin-left: auto;
}

.authorization a {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	display: inline-block;
	margin-top: 46px;
}

.authorization .enter {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 45px;
	padding-right: 27px;
	margin-right: 10px;
	position: relative;
}

.authorization .enter::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 20px;
	height: 17px;
	background-image: url("../img/header/icon-login.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.enter:hover::before {
	background-image: url("../img/header/icon-login-hover.svg");
}

.enter:active::before {
	background-image: url("../img/header/icon-login.svg");
}

.enter:hover,
.registration:hover,
.enter:focus,
.registration:focus {
	color: var(--basic-red);
}

.enter:active,
.registration:active {
	color: var(--basic-greylight);
}

.authorization .registration {
	padding: 12px 24px;

}

a.my-orders,
a.personal-area {
	font-size: 16px;
	line-height: 18px;
	color: var(--grey);
}

.site-navigation {
	list-style: none;
	background-color: var(--grey);
	margin: 0;
	padding: 0;
	box-shadow: inset 0px -5px 0px var(--background-greydark);
	min-height: 60px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 24px;
	padding-right: 19px;
}

.site-navigation li {
	flex-grow: 1;
	text-align: center;
}

.site-navigation a {
	color: var(--basic-white);
	display: block;
	min-height: 60px;
	padding-top: 17px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: var(--background-greydark);
}

.site-navigation a:active {
	color: rgba(255, 255, 255, 0.5);
}

/* advantages */

.advantages {
	padding-bottom: 59px;
	margin-top: 59px;
}

.advantages-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 123px 123px 123px;
	grid-template-columns: 300px 300px 300px;
	align-items: start;
}

.advantage {
	width: 300px;
	height: 123px;
	padding-top: 20px;
	padding-left: 23px;
	position: relative;
}

.advantage-materials {
	background-color: var(--special-yellow);
}

.advantage-materials::before {
	content: "";
	width: 44px;
	height: 65px;
	position: absolute;
	top: 31px;
	right: 43px;
	background-image: url("../img/index/advantages/icon-1.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.advantage-tools {
	background-color: var(--special-blue);
}

.advantage-tools::before {
	content: "";
	width: 75px;
	height: 61px;
	position: absolute;
	top: 34px;
	right: 31px;
	background-image: url("../img/index/advantages/icon-2.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.advantage-equipment {
	background-color: var(--special-lilac);
}

.advantage-equipment::before {
	content: "";
	width: 78px;
	height: 62px;
	position: absolute;
	top: 31px;
	right: 31px;
	background-image: url("../img/index/advantages/icon-3.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.advantage-discount {
	background-color: var(--special-greenlight);
}

.advantage-discount::before {
	content: "";
	width: 59px;
	height: 72px;
	position: absolute;
	top: 26px;
	right: 45px;
	background-image: url("../img/index/advantages/icon-4.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.advantage-delivery {
	background-color: var(--special-yellowlight2);
}

.advantage-delivery::before {
	content: "";
	width: 78px;
	height: 63px;
	position: absolute;
	top: 32px;
	right: 31px;
	background-image: url("../img/index/advantages/icon-5.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.advantage h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
	padding: 0;
	margin: 0;
}

.advantage a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.3);
	width: 135px;
	height: 38px;
	display: block;
	padding-top: 10px;
	margin-top: 14px;
}

.advantage a:hover,
.advantagr a:focus {
	background-color: rgba(197, 197, 197, 0.3);
}

.advantage a:active {
	background-color: rgba(169, 169, 169, 0.3);
} 

/* slider */

.advantages .slider {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-row-end: 4;
	grid-column-end: 3;
	width: 620px;
	height: 266px;
	position: relative;
}

.slider h3 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
}

.slider-perforator {
	background-color: var(--grey);
	background-image: url(../img/index/advantages/perforator.jpg);
	background-repeat: no-repeat;
	color: var(--basic-white);
	padding-top: 23px;
	padding-left: 24px;
	display: none;
}

.slider-drill {
	background-color: var(--grey);
	background-image: url(../img/index/advantages/drill.jpg);
	background-repeat: no-repeat;
	color: var(--basic-white);
	display: none;
	padding-top: 23px;
	padding-left: 24px;
}

.slider a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-red);
	color: var(--basic-white);
	padding: 11px 46px 9px;
	bottom: 27px;
	left: 24px;
}

.slider-controls {
	bottom: 30px;
	left: 50%;
	margin-left: -18px;
}

.slider input {
	display: none;
}

.slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
  cursor: pointer;
}

.radio-1:checked ~ .slider-controls label[for="radio-1"],
.radio-2:checked ~ .slider-controls label[for="radio-2"] {
  background-color: var(--basic-red);
}

.radio-1:checked ~ .slider-perforator {
  display: block;
}

.radio-2:checked ~ .slider-drill {
  display: block;
}

.slider button {
	width: 23px;
	height: 41px;
	top: 122px;
	font-size: 0;
	border: none;
	background-color: transparent;
}

.slider .back {
	left: 24px;
	background-image: url("../img/index/advantages/icon-left.svg");
}

.slider .forward {
	right: 20px;
	background-image: url("../img/index/advantages/icon-left.svg");
	transform: rotate(180deg);
}

.slider a,
.slider button,
.slider-controls {
	position: absolute;
}

.slider-perforator,
.slider-drill {
	width: 620px;
	height: 266px;
}

/* popular-items */

.popular-items {
	margin-bottom: 70px;
}

.header-section {
	background-color: var(--greylight); 
	width: 100%;
	height: 89px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 28px;
	margin-bottom: 20px;
}

.header-section h2 {
	font-size: 30px;
	line-height: 30px;
	color: var(--grey);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.header-section a {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.popular-items ul {
	list-style: none;
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-gap: 20px;
	margin: 0;
	padding: 0;
}

/* catalog-item */

.catalog-item {
	border: 1px solid var(--greylight-gradient);
	width: 220px;
	height: 318px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog-item h3 {
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-right: 30px;
	margin-left: 31px;
	margin-top: 9px;
	margin-bottom: auto;

}

.box {
	width: 220px;
	height: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	order: -1;
	justify-content: center;
	padding-right: 10px;
}

.catalog-item .item-discount {
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: var(--grey-discount);
	text-decoration: line-through;
}

.catalog-item .item-price {
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-white);
	margin-bottom: 20px;
	margin-right: 7px;
	margin-top: 13px;
	padding-top: 10px;
	padding-left: 7px;
	width: 122px;
	height: 38px;
	background-color: var(--basic-red);
	border-radius: 4px 0 0 4px;
	position: relative;
}

.item-price::after {
	content: "";
	width: 26.7px;
	height: 26.7px;
	background-color: var(--basic-red);
	position: absolute;
	transform: rotate(45deg);
	top: 5.5px; 
	right: -13.5px;
}

/*	Так хотел сделать :-)
	background-color: linear-gradient(90deg, #ffffff 20%,#EE3643 20%, #EE3643 70%, #FFFFFF 70%);
	background-image: url("../img/items/red-button.svg");
*/

.catalog-item a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-green);
}

.catalog-item button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--grey);
	background-color: var(--basic-white);
}

.order-buttons {
	display: none;
}

/* popular-manufacturers */

.popular-manufacturers {
	margin-bottom: 70px;
}

.popular-manufacturers ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-template-rows: 145px 145px;
	grid-gap: 20px;
}

.popular-manufacturers li {
	width: 220px;
	height: 145px;
	border: 1px solid var(--greylight-gradient);
	text-align: center;

}

.popular-manufacturers img {

}

/* services */

.services {
	background-color: var(--background-greylight);
	padding-top: 64px;
	height: 522px;    /* !!!  Временно*/
}

.services h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.services p {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services-flex {
	display: flex;
	justify-content: start;
}

.services h3 {
	font-size: 36px;
	line-height: 24px;
	color: var(--grey);
	text-transform: uppercase;
}

.services ul {
	list-style: none;
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.services button {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-white);
	border: none;
	background-color: var(--grey);
	width: 240px;
	height: 61px;
}

.services li:first-child button {  /*Селектор временный */
	background-color: var(--basic-white);
	color: var(--grey);
}

.service {
	padding-left: 80px;
}

.service-guarantee,
.service-credit {
	display: none;
}

.service-credit a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

/* about-us and contacts */

.company-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	margin-bottom: 70px;
}

.about-us {
	width: 480px;
}

.contacts-company {
	width: 300px;
}

.about-us h2,
.contacts-company h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.about-us p,
.contacts-company p {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
}

.about-us ul {
	list-style: none;
}

.about-us a,
.contacts-company a {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

/* footer */

.footer-page {
	background-color: var(--grey);
}

.footer-top,
.footer-middle,
.footer-bottom .container {
	display: flex;	
}

.footer-top,
.footer-middle {
	justify-content: space-between;
}

.footer-logo {
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	width: 220px;
	height: 68px;
	text-align: center;
	padding-top: 20px;
}

.footer-logo:active {
	background-color: var(--error);
}

.footer-middle {
	margin-bottom: 54px;
	margin-top: 22px;
}

.footer-bottom {
	height: 107px;
	padding-top: 36px;
}

.footer-page ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-page .nav-footer {
	display: flex;
	justify-content: space-between;
}

.footer-top .nav-footer {
	width: 547px;
}

.footer-page a:hover {
	text-decoration: underline;
}

.nav-footer-top a {
	padding-top: 37px;
	padding-bottom: 5px;
	display: block;
}

.nav-footer-top a:active {
	text-decoration: none;
	opacity: 0.5;
}

.nav-footer-middle a {
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
}

.nav-footer-middle a:active {
	text-decoration: none;
	opacity: 0.5;
}


.footer-middle .nav-footer {
	width: 525px;
}

.footer-contacts {
	padding-left: 3px;
	padding-top: 1px;
}

.footer-page a {
	color: var(--special-yellowlight);
}

.footer-top a {
	color: var(--background-greylight);
}

.footer-contacts {
	color: var(--background-grey);
}

ul.social-network {
	flex-grow: 1;
	padding-left: 43px;
	text-align: center;
	margin-top: -6px;
}

.social-network li,
.social-network a {
	font-size: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.social-network a {
	width: 41px;
	height: 41px;
	background-color: var(--social);
	background-position: center;
	border-radius: 50%;
}

.social-network a:hover {
	background-color: var(--basic-red);
}

.social-network a:active {
	background-color: var(--error);
}


.vk a {
	background-image: url(../img/footer/icon-vk.svg);
	background-repeat: no-repeat;
}

.fb a {
	background-image: url(../img/footer/icon-fb.svg);
	background-repeat: no-repeat;
}

.in a {
	background-image: url(../img/footer/icon-insta.svg);
	background-repeat: no-repeat;
}

.footer-page .footer-bottom {
	background-color: var(--background-greydark);
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.developer {
	padding-right: 13px;
}

.developer a:active {
	text-decoration: none;
	color: var(--error);
}

.feedback {
	padding-right: 52px;
}

.feedback a:active {
	text-decoration: none;
	color: var(--error);
}

/* popups */

.write-us-popup,
.map-popup {
	display: none;
}

/* catalog */

.grid-container-catalog {
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-template-rows: 18px 89px 38px min-content;
	grid-gap: 20px;
	margin-top: 21px;
}

.grid-container-catalog h1,
.grid-container-catalog > ul,
.grid-container-catalog section {
	/*outline: 1px solid red;*/
}

.catalog-title {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--grey);
	background-color: var(--background-greylight2);
	grid-column: 1/-1;
	grid-row: 2/3;
}

/* breadcrumbs */

.breadcrumbs {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	list-style: none;
	grid-column: 1/-1;
	grid-row: 1/2;
	display: flex;
	padding: 0;
	margin: 0;
}

/* filters */

.filters {
	grid-column: 1/2;
	grid-row: 3/-1;
}

.filters h2 {
	font-family: "PT Sans", sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--background-filters);
}

.filters fieldset {
	border: none;
}

.filters ul {
	list-style: none;
}

.filters legend {
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.filters label {
	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
}

.filters input[type="submit"] {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-white);
	border: 1px solid black;  /* цвет временно */
}

.filters input[name="min-price"],
.filters input[name="max-price"] {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	border: none;
	background-color: var(--background-filters);
}

/* sorting */

.sorting {
	background-color: var(--background-filters);
	display: flex;
}

.sorting h2,
.sorting button {
	font-family: "PT Sans", sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting button {
	border: none;
	background-color: transparent;
}

.sorting ul {
	list-style: none;
	display: flex;
}

/* catalog-items */

.catalog-items .catalog-list {
	padding: 0;
	margin: 0;
	padding-top: 8px;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 18px;
}

.catalog-items .numbers-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-top: 48px;
	margin-bottom: 59px;
	min-height: 38px;
}

.numbers-list li {
	min-width: 38px;
	margin-right: 10px;
}

.numbers-list li:last-child {
	min-width: 140px; 
}

.numbers-list a {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	display: block;
	padding-top: 10px;
	padding-bottom: 9px;
	width: 100%;
	text-align: center;
}

/* description */

.description {
	background-color: var(--background-greylight);
	padding-top: 63px;
	padding-bottom: 69px;
}

.description h2 {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.description p {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding: 0;
	margin: 0;
	margin-top: 25px;
}

/* class button*/

.button {
	height: 38px;
}